h4{
    color:white;
    background-color: black;
}
.caption{
    background-color: orangered;
  }

  .img{
    margin-left: 100px;
    border-radius: 50%;
    background-color: rgb(50, 49, 50);
    width: 80px;
    height:80px;
  } 
  .img:hover{
    background-color: orangered;
  }
  h1{
    color: bisque;
  }

  .cardimg:hover {
    -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Safari 3-8 */
    transform: scale(0.9); 
  }
  .advice{
    width: 1519.5px;
    height: 800px;
    margin-top: 400px;
background-color: #e7eeee;
  }

  i:hover{
    color: orangered;

  }
.formdiv{
  background-image: url('https://wallpaperaccess.com/full/1802071.jpg');
 
}

form{
 
  background-color: transparent;

}

input{
  background-color: black;
  border: 1px solid black;
  opacity: 0.7;
  margin-left: 250px;
}

textarea{
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.5;
  width: 500px;
  height: 145px;
  margin-top: -127px;
  margin-left: 400px;
}


.btn{

  background-color:orangered;
 
}
button:hover{
  background-color: transparent;
  border: 1px solid black;
 }
.invalid-feedback{
  margin-left: -270px;
}
 

.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h5{
  font-size: 35px;
  color: white;
  margin-left: 175px;
}
span{
  font-size:15px;
}