.navbar {
  background-color: #9b9b9b;
}
.nav-item #logo{
  background-color: black;
}

b:hover{
  /* background-color: orangered; */
  color: rgb(231, 85, 32);
}
a:hover{
  /* background-color: orangered; */
  color: rgb(198, 71, 24);
}

